/* src/App.css */
.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dropzone {
  height: 400px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted gray;
  border-radius: 10px;
}

.btn-upload {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.error {
  color: red;
  margin-bottom: 10px;
}


.results {
  width: 100%;
}

.no-data-found {
  margin-top: 20px;

}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}